<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
    <classes>
      <class name="Script.Testshopclues_06"/>
      <class name="Script.TestShopeclues_02"/>
      <class name="Script.Testshopcluse_07"/>
      <class name="Script.TestShopclues_05"/>
      <class name="Script.TestShopclues_04"/>
      <class name="Script.TestShopclues_03"/>
      <class name="Script.TestShopclues_08"/>
      <class name="Script.TestShopesclues_01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
